[submodule "data/thirdparty/db.js"]
	path = data/thirdparty/db.js
	url = git@github.com:aaronpowell/db.js.git
[submodule "data/thirdparty/bs2-tagsinput"]
	path = data/thirdparty/bs2-tagsinput
	url = git@github.com:TimSchlechter/bootstrap-tagsinput.git
[submodule "data/thirdparty/md5lib"]
	path = data/thirdparty/md5lib
	url = git@github.com:blueimp/JavaScript-MD5.git
